body {
    font-family: Helvetica, sans-serif;        
    font-size: 16px;
    color: darkslateblue;
    border: 5px ridge darkslateblue;
    margin: 5px;
    padding: 5px;
  }

.row {
  display: flex;
   }

.column1 {
   width:300px;
 }
.column2 {
   width:2000px;
}

#name {
  text-align: center;
  color: blue;
 }

h3 {
 font-weight: 900;
  }

.change {
  text-transform: uppercase;
  transform: scale(2, 2);
 }
       
#cornell{
  width: 150px;
  padding-top:40px;
}

#cornell:hover{
  transform-origin: 0 0;
  transform: scale(3,3);
}



.gif-container{
  display: flex;
  flex-wrap: wrap;
}

.gif-container img{
 width: 150px;
 height:150px;
 padding-right:10px;
}




#dotmed:hover{
   font-size: 20px;
}

#DEP:hover{
    font-size: 20px;
}

td img {
    width:50px;
    height:50px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  nav a {
    text-decoration: none;
    text-align: center;
     
    color: #464141;
    padding:10px;
    margin: 0px;
    font-family: sans-serif;
  }
  nav a:hover {
    background-color: darkblue;
    color: #ffffff;
  }